nav {
    height: 70px;

    .navbar-brand {
        svg {
            height: 50px;
            width: 50px;
            margin-right: 10px;

            > g {
                * {
                    transition: fill .3s ease-in-out;

                    &:first-child, &:nth-child(2), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
                        fill: #27B641;
                    }

                    &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                        fill: #2F61A8;
                    }
                }
            }
        }

        &:hover {
            svg {
                > g {
                    * {
                        fill: $white;
                    }
                }
            }
        }
    }

    .nav-item {
        background-color: $darkblue;
        .nav-link {

        }
    }
}

#pagination-bar {
    padding: 40px 0;

    .pagination {
        margin: 0;
        display: flex;
        justify-content: center;

        .page-item {
            .page-link {
                border: 0;
                background-color: transparent;
            }

            &.active {
                .page-link {
                    color: $green;
                    background-color: transparent;
                }
            }

            &:first-child {
                .page-link {
                    visibility: hidden;

                    &:after {
                        visibility: visible;
                        font-weight: 300;
                        content: "\f053";
                    }
                }
            }

            &:last-child {
                .page-link {
                    visibility: hidden;

                    &:after {
                        visibility: visible;
                        font-weight: 300;
                        content: "\f054";
                    }
                }
            }
        }
    }

    i, a, span {
        display: inline-block;
        padding: 0 10px;
    }

    a {
        color: $black;
        text-decoration: none;

        &.active {
            color: $green;
        }
    }
}

@media (max-width: 450px) {
    .navbar-brand {
        font-size: .85rem;
    }
}

@media (max-width: 320px) {
    .navbar-brand {
        font-size: .6rem;
    }
}
