$darkblue: #084460;
$blue: #096192;
$lightblue: #489AD8;
$white: #FEFEFE;
$darkgray: #5A5858;
$lightgray: #b0b0b0;
$lightergray: #f5f5f5;
$black: #202020;
$green: #32aa20;

$boxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
